@model RideOn.Models.Car

@{
    ViewData["Title"] = "ReviewAndBook";
}

<h1>
    Review And Book
</h1>
<div class="ReviewAndBook">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-7 pb-5 pe-lg-5">
                <div class="row">
                    <div class="col-12 p-5">
                        <img src="@Html.DisplayFor(model => model.Image)" alt="Image">

                    </div>
                    <div class="row m-0 bg-light d-flex">
                        <div class="car-info col-md-12 d-flex justify-content-between align-items-center">
                            <div>
                                <i class="ri-group-line"> @Html.DisplayFor(model => model.Seat) Seat</i>

                            </div>
                            <div>
                                <img src="~/images/carDoor.png" style="height:.9rem; width:.9rem;" /> @Html.DisplayFor(model => model.Doors) Doors
                            </div>
                            <div>
                                <img src="~/images/manual-transmission.png" style="height:.9rem; width:.9rem;" /> @Html.DisplayFor(model => model.Shift)
                            </div>
                            <div>
                                <img src="~/images/ac.png" style="height:.9rem; width:.9rem;" /> AC
                            </div>
                        </div>


                    </div>


                </div>
            </div>
            <div class="col-lg-5 p-0 ps-lg-4">
                <div class="row m-0">
                    <div class="col-12 px-4">
                        <div class="d-flex align-items-end mt-4 mb-2">
                            <p class="h4 m-0">
                                <span class="pe-1">
                                    @Html.DisplayFor(model => model.Make)
                                </span>
                                <span class="pe-1">
                                    @Html.DisplayFor(model => model.Model)
                                </span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="textmuted">Rental period</p>
                            <p class="fs-3 fw-bold" id="rent-days">1</p>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <p class="textmuted fw-bold">Total</p>
                            <div class="d-flex align-text-top ">
                                <span class="h4" id="total">@Html.DisplayFor(model => model.DailyRate)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-0">

                        <div class="row m-0">
                            <div class="col-12  mb-4 p-0">
                                <div class="btn btn-payment">
                                    Payment
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>