@model List<RideMe.Models.Booking>

@using Microsoft.AspNetCore.Identity;
@using RideMe.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Booking";
}

@{
    //Get the user Id
    var user = await UserManager.GetUserAsync(User);
    var userId = user.Id;
}


<div class="container my-5">
   
    <div class="d-flex  justify-content-md-between justify-content-center align-items-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3">
        <div class="col-2  align-self-center  ">
            <h1 class="h5 fw-bold">Booking ID</h1>
        </div>
        <div class="col-2  align-self-center  ">
            <h1 class="h5 fw-bold">Pickup location</h1>
        </div>
        <div class="col-3  align-self-center  ">
            <h1 class="h5 fw-bold">Pickup Date</h1>
        </div>
        <div class="col-3  align-self-center  ">
            <h1 class="h5 fw-bold">Return Date</h1>
        </div>
        <div class="col-2  align-self-center  ">
            <h1 class="h5 fw-bold">Show details</h1>
        </div>

    </div>

    @foreach (var booking in Model)
    {
        

        <div class="d-flex justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3">
            <div class="col-2 text-sm-center text-md-start align-self-center my-2">
                <h1 class="h5">@booking.Id</h1>
            </div>
            <div class="col-2 text-sm-center text-md-start align-self-center my-2">
                <h1 class="h5">@booking.Rentals.PickupLocation</h1>
            </div>
            <div class="col-3 text-sm-center text-md-start align-self-center my-2">
                <h1 class="h5">@booking.Rentals.PickupDate.ToShortDateString() | @booking.Rentals.PickupTime.ToString("hh\\:mm") </h1>
            </div>
            <div class="col-3 text-sm-center text-md-start align-self-center my-2">
                <h1 class="h5">@booking.Rentals.ReturnDate.ToShortDateString() | @booking.Rentals.ReturnTime.ToString("hh\\:mm")</h1>
            </div>
            <div class="col-2 text-sm-center text-md-start align-self-center my-2">
                <a asp-controller="Booking" asp-action="Details" asp-route-Id="@booking.Id" class="btn btn-outline-dark w-100">Details</a>
            </div>
        </div>

    }

    @if (Model.Count == 0)
    {
        <div class="text-center" style="margin:5rem;">
            <h1>No bookings available</h1>
        </div>
    }

    
    

    
</div>
        
            