<div>
    <p>Pickup Location: @ViewBag.PickupLocation</p>
    <p>Pickup Date: @ViewBag.PickupDate</p>
    <p>Pickup Time: @ViewBag.PickupTime</p>
    <p>Return Date: @ViewBag.ReturnDate</p>
    <p>Return Time: @ViewBag.ReturnTime</p>
</div>