@model IEnumerable<RideMe.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-outline-primary w-25" style="font-size:1.5rem; margin: 2rem">Create New <i class="ri-car-line"></i></a>
</p>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        @foreach (var item in Model)
        {

            <div class="col">
                <div class="card-sl-cars" style="margin-bottom: 6rem;">
                    <div class="card-image">
                        <img src="@item.Image" alt="">
                    </div>

                    <a class="card-action " asp-action="Edit" asp-route-id="@item.Id"><i class="ri-pencil-line"></i></a>
                    <div class="card-cars-heading">
                        @item.Make @item.Model
                    </div>
                    <div class="card-text">

                    </div>
                    <div class="card-text">
                        <span class="card-price">Shifted: @item.Shift</span> |
                        <span class="card-price">AC</span>
                        <span class="card-price">Fuel: @item.Fuel</span> |
                        <span class="card-price">$ @item.DailyRate/day</span>
                        <div class="col-12 text-sm-center text-md-start align-self-center my-2">
                            <div class="row">
                                <div class="col">
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark w-100" style="font-size:1.5rem;">Details</a>
                                </div>
                                <div class="col">
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger w-100" style="font-size:1.5rem;">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                       
                    



                </div>
            </div>
        }
    </div>
</div>